/**
  * @prop --vm-menu-color: The text color within the menu.
  * @prop --vm-menu-bg: The background color the menu.
  * @prop --vm-menu-font-size: The font size of text within the menu.
  * @prop --vm-menu-font-weight: The font weight of text within the menu.
  * @prop --vm-menu-z-index: The position in the UI z-axis stack inside the player.
  */
:host {
  display: block;
  z-index: var(--vm-menu-z-index);
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  pointer-events: auto;
  text-align: left;
  color: var(--vm-menu-color);
  background: var(--vm-menu-bg);
  font-size: var(--vm-menu-font-size);
  font-weight: var(--vm-menu-font-weight);
}

.menu[aria-hidden='true'] {
  display: none;
}

.menu:focus {
  outline: 0;
}